:root {
    /*colores*/
        /* Colores primarios */
        --color-fondo-principal: #090a14;
        --color-fondo-secundario: #19332d;
        --color-fondo-terciario: #cf573c; 
        --color-primario: #bb2b2b;
        --color-secundario: #FFFFFF; 
    
        /* Colores de texto */
        --texto-primario: #FFFFFF; 
        --texto-secundario: #d4d4d4;
        --texto-terciario: #a8ca58; 
    
        --sombra-elemento: rgba(2, 1, 1, 0.5);
        --border-radius: 10px;
        --borde-cuadrado: border: 2px solid #75A743;

        --font-pixelada: 'Press Start 2P', monospace;
        --font-mono: "Tiny5", sans-serif;
}

body{
    font-family: var(--font-mono);
    background-color: var(--color-fondo-principal);
    color: var(--texto-primario);
    margin: 0;
    padding: 0;

    overflow-x: hidden;
}

section{
    background-color: var(--color-fondo-primario);
    
    /* border-radius: var(--border-radius); */
    /* box-shadow: 0 4px 8px var(--sombra-elemento); */
}

h1 {
    font-family: var(--font-pixelada);
    color: var(--color-primario);
    font-size: clamp(1.7rem, 3vw, 3vw);
    padding: 0; 
    margin: 0; 
    margin-bottom: 0.5rem;
}
h2{
    font-family: var(--font-mono);
    color: var(--color-secundario);
    font-size: clamp(1.6rem, 3rem, 2.3vw); 
    text-align: left;
    padding: 0;
    margin: 0 auto;
    margin-left: 20px;
    margin-bottom: 2rem;
    padding-top: 2rem;
}
h3{
    font-family: var(--font-mono);
    color: var(--color-secundario);
    font-size: 1.7rem;
}
p{
    color: var(--texto-secundario);
    font-size: 1.4rem;
    line-height: 2; 
    max-width: 75ch;
}


/* Header y navbar */
.flex{
    display: flex;
    gap: 1rem;
}
.logo {
    padding: 10px 20px;
} 
.logo img{
    width: 40px;
    height: 40px;
    margin: 0;
    padding: 0;
}
.primary-header{
    align-items: center;
    justify-content: space-between;
    z-index: 800;

    background: rgba(9, 10, 20, 0.9);

    position: fixed;
    inset: 0 0 auto;
    height: 70px;
}
@supports (backdrop-filter: blur(1rem)) {
    .primary-header {
        background: rgba(9, 10, 20, 0.5);
        backdrop-filter: blur(1rem);
    }
}
.mobile-nav-toggle {
    display: none;
}

.primary-navigation{
    list-style: none;
    margin: 0;
    padding: 10px 20px;
    z-index: 1000;
}

.primary-navigation a {
    text-decoration: none;
    color: var(--texto-primario);
    padding: 10px 10px;
    font-size: 1.2rem;
}
.primary-navigation a:hover {
    color: var(--texto-terciario);
    text-decoration: underline;
}

.primary-navigation a > [aria-hidden="true"] {
    margin-inline-end: 0.75em;
}
@media (max-width: 35em) {
    .primary-navigation {
        gap: 2em;

        position: absolute;
        top: 0;
        left: 30%;
        width: 70%;
        height: 100vh;
        

        flex-direction: column;
        padding: min(20vh, 10rem) 2em;

        transform: translateX(100%);
        transition: transform 350ms ease-in;
        background: rgba(9, 10, 20, 0.9);
    }
    @supports (backdrop-filter: blur(1rem)) {
        .primary-navigation {
            background: rgba(9, 10, 20, 0.5);
            backdrop-filter: blur(1rem);
        }
    }

    .primary-navigation[data-visible="true"] {
        transform: translateX(0%);
    }

    .mobile-nav-toggle {
        display: block;
        position: fixed;
        z-index: 9999;
        border: 0;
        background: none;
        width: 2.5rem;
        padding: 0;
        aspect-ratio: 1;
        top: 13px;
        right: 1rem;
        color: var(--texto-primario);
    }
    .hamburguer {
        font-size: 40px;
        padding: 0;
        margin: auto;
    }

}



/* hero */
#inicio {
    background: linear-gradient(to left top, #172038, #090A14 85%);
    min-height: calc(100svh); 
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    align-items: flex-start; 
    padding: 20px; 
    padding-top: 70px;
    box-sizing: border-box;
}
#inicio h2 {
    margin-left: 0;
    margin-top: 0;
    padding-top: 0;
}

.hero-content {
    z-index: 2; 
    margin-bottom: 20px; 
}
.hero-content div {
    max-width: 800px; 
    margin-left: 0.5rem;
}

.social-icons-container {
    position: absolute;
    bottom: calc(0svh + 20px);
    z-index: 10;
}
.social-icons {
    display: flex;
    justify-content: left; 
    width: 100%; 
}
.social-icon {
    display: block;
    text-align: center; 
    margin-right: 40px;
    font-size: 1.6rem; 
    color: var(--color-secundario);
}
@media (max-width: 800px) {
    .social-icons {
        flex-direction: column;
        row-gap: 40px;
        margin: 0;
    }
    .social-icon {
        margin: 0;
    }
}
.social-icon :hover {
    color: var(--texto-terciario);
}
@media (min-width: 800px){
    .social-icon {
        font-size: 2rem;
    }
}
.social-icon i {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}
.background-image {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 35vw; 
    z-index: 1; 
    object-fit: cover; 
}
@media (max-width: 1400px) {
    .background-image {
        width: 45vh;
    }
}
@media (max-width: 600px) {
    .background-image {
        width: 36vh;
    }
}


/* sobre mí */
#sobre{
    padding-top: 50px;
    background: radial-gradient(circle at center, #19332d,  #25562e, #468232);
}
.about-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding-top: 5vw;
    padding-bottom: 10vw;
    margin: 0 20px;
}
.about-container p{
    margin: 35px auto;
}
.about-container h3{
    margin: 15px auto;
    margin-bottom: 1rem;
    text-align: center;
    color: var(--texto-primario);
}
.foto-about {
    display: flex;
    justify-content: center;
    align-items: center;
}
.foto-about img{
    width: 25rem;
    border-radius: var(--border-radius);
}
@media (max-width: 600px) {
    .foto-about img{
        width: 100%;
    }
}


/* proyectos */
#proyectos {
    padding-top: 50px;
    background: linear-gradient(to right, 
                                #172038 0%, 
                                #090A14 10%, 
                                #090A14 90%, 
                                #172038 100%);
}
.proyectos-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    gap: 20vw;
    padding-top: 5vw;
    padding-bottom: 10vw;
    margin: 0 20px;
}
.proyectos-container img {
    height: clamp(20vh, 80vw, 80vh);
    border-radius: var(--border-radius);
}
.proyecto-item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    max-width: 1000px;
    gap: 10vw;
}
.proyecto-item.reverse{
    flex-direction: row-reverse;
}
@media (max-width: 850px) {
    .proyecto-item img {
        max-width: 100%;
        height: auto;
    }
    .proyecto-item.reverse {
        flex-direction: column;
    }
    .proyecto-item {
        flex-direction: column;
        gap: 0;
    }
}




/* galeria */
#galeria {
    display: none;
    background-color: var(--color-fondo-principal);
    /* box-shadow: 
    rgba(9, 10, 20, 0.7) 0px 5px,
    rgba(9, 10, 20, 0.5) 0px 10px, 
    rgba(9, 10, 20, 0.3) 0px 15px,
    rgba(9, 10, 20, 0.2) 0px 20px,
    rgba(9, 10, 20, 0.1) 0px 25px; */
}
.gallery-container {
    column-count: 3; 
    column-gap: 10px; 

}
.gallery-item {
    break-inside: avoid;
    margin-bottom: 10px; 
    width: 100%;
}
.gallery-item img {
    width: 100%;
    height: auto; 
    border-radius: var(--border-radius);
}

@media (max-width: 800px) {
    .gallery-container {
        column-count: 2; 
    }
}
@media (max-width: 500px) {
    .gallery-container {
        column-count: 1;
    }
}



/* contacto */
#contacto {
    padding-top: 50px;
    background: linear-gradient(to bottom, #752438, #A53030, #CF573C);
}
#contacto h2 {
    margin-bottom: 0;
}
#contacto p {
    margin-top: 0;
    margin-bottom: 3vw;
}
.contact-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    gap: 1rem;
    padding-top: 0;
    padding-bottom: 15vh;
    margin: 0 20px;
    padding-top: 5vw;
}
.form-container {
    max-width: 50%;
}
.contact-container p {
    word-break: break-word;
}
.redes-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 25%;
}
.iconos-redes-contacto {
    display: flex;
    gap: 1rem;
    justify-content: space-between;

}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    gap: 0.5rem;
    margin: 0 auto;
    font-size: 1.8;
    padding: none;
}
form input, form textarea {
    width: calc(100% - 1rem);
    padding: 1rem 0.5rem;
    margin-top: 0;
    margin-bottom: 1.4rem;
    border-radius: var(--border-radius);
    border: none;
    background-color: var(--color-secundario);
    color: var(--color-fondo-principal);
    font-size: 1.2rem;
}
form textarea {
    height: 8rem;
    resize: none;
    overflow-y: auto;
}

form label {
    color: var(--texto-primario);
}

.button {
    font-family: var(--font-mono);
    background-color: var(--color-fondo-principal);
    color: var(--texto-primario);
    border: none;
    padding: 1.6rem clamp(0.5rem, 2rem, 4rem);
    border-radius: var(--border-radius);
    max-width: 50%;
    cursor: pointer;
    
    text-align: center;
    font-size: 1.2rem;
}
.button-form {
    margin-left: auto;
}
.button:hover {
    background-color: var(--texto-terciario);
    color: var(--color-fondo-principal);
}


@media (max-width: 850px) {
    .contact-container {
        flex-direction: column;
        gap: 5rem;
    }
    .form-container {
        max-width: 100%;
        width: calc(100vw - 40px);
    }
    .redes-container {
        max-width: 100%;
        width: calc(100vw - 40px);
    }
    .iconos-redes-contacto {
        justify-content: space-evenly;
    }
    form {
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    form label {
        width: 100%;
    }
    .contact-container p {
        width: 100%;
    }
}

.copy-container {
    position: relative;
}

.alerta-correo {
    display: none;
    background-color: var(--color-fondo-principal);
    border-radius: var(--border-radius);
    padding: 10px;
    color: var(--texto-terciario);
    font-size: 1.2rem;
    position: absolute;
    top: 0;
    left: 30%;
    transform: translate(20%, -50%);
    white-space: nowrap;
}




/* footer */
footer {
    padding: 4rem 0;

    font-size: 1rem;
    color: var(--texto-secundario);
}
footer p {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}







/* Animaciones */

/* sección de inicio */
#inicio h1, #inicio h2 {
    opacity: 0;
    animation: slide-in-left 1s forwards;
}

@keyframes slide-in-left {
    from {
        opacity: 0;
        transform: translateX(-100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
#inicio .background-image, #inicio .social-icons-container {
    opacity: 0;
    animation: slide-in-up 1s forwards;
    animation-delay: 0.5s;
}
@keyframes slide-in-up {
    from {
        opacity: 0;
        transform: translateY(100%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Section sobre mí */
/* balanceo para la imagen */
.foto-about img:hover {
    animation: swing-hover 1s ease-in-out;
}
@keyframes swing-hover {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(5deg); }
    50% { transform: rotate(-5deg); }
    75% { transform: rotate(3deg); }
    100% { transform: rotate(0deg); }
}


/* sección de proyectos */
.proyecto-item img {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}
.proyecto-item img.visible {
    opacity: 1;
}
.zoom-contenedor {
    overflow: hidden;
    border-radius: var(--border-radius);
    position: relative;
}


@media (hover: hover) and (pointer: fine) {
    .zoom-contenedor img {
        transition: transform 0.2s ease, transform-origin 0.2s ease; 
    }
    
    .zoom-contenedor img:hover {
        transform: scale(2);
    }
}

.contenedor-mensaje-recibido {
    background: radial-gradient(circle at center, #19332d,  #25562e, #468232);

    width: calc(100svw - 40px);
    height: calc(100svh - 40px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 20px;
}
.contenedor-mensaje-recibido h1{
    color: var(--texto-primario);
    font-size: clamp(1.6rem, 3rem, 2.3vw);
}
.contenedor-mensaje-recibido p{
    text-align: center;
}
.contenedor-mensaje-recibido .button {
    max-width: 100%;
}
